*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

body{
    background-color: rgb(153, 189, 82);

    display: flex;
    gap: 1rem;
    width: 90%;
    margin: auto;
    justify-content: center;
}

    #TodoList-Container{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
        #UserInput-Section {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 5rem;
            margin: auto;
            overflow: hidden;

        }
            #AddTask-Input {
                width: 80%;
                height: 5rem;
                padding: 1rem;
                font-size: 2rem;
            }
            
            #AddTask-Btn {
                border: none;
                padding: 1rem;
            }
                #AddTask-Btn:hover, .deleteBtnTask:hover{  
                    cursor: pointer;
                    background-color: rgb(163, 163, 163);
                }

        #TodoList-Section{
            width: 100%;
        }

            #TodoList, #TrashList{
                display: flex;
                flex-direction: column;
                list-style: none;
                height: fit-content;
            }
                .listItem, .listItemTrash{
                    background-color: rgba(173, 212, 230, 0.452);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2%;

                    width: 80%;
                    margin: 0.8rem auto ;
                }

                    .listItemTrash{
                        gap: 0%
                    }


                .taskText, .trashTaskText{
                    display: flex;
                    align-items: center;
                    height: fit-content;
                    width: 60%;

                    font-size: 2rem;
                    
                }

                    .trashTaskText{
                        padding-left: 2rem;
                    }
            
                .checkbox{
                    transform: translateX(-3.5rem);
                    width: 2rem;
                    height: 2rem;
                    
                }
            
                .deleteBtnTask, .undoBtn, .trashBtn{
                    border: none;
                    border-radius: 0.0px;
                    width: 10rem;
                    height: 5rem;
                }
            
                    .undoBtn{
                        transform: translateX(1.1rem);
                        background-color: orange;
                        color: white;
                        font-size: 1.4;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                        .undoBtn:hover{
                            background-color: rgb(136, 93, 12);
                            cursor: pointer;
                        }
                
                    .trashBtn{
                        background-color: red;
                        color: white;
                        font-size: 1.4;
                        font-weight: bold;
                        text-transform: uppercase;
                    }   
                        .trashBtn:hover{
                            background-color: rgb(119, 7, 7);
                            cursor: pointer;
                        }

                    .taskDoneStyle{
                        text-decoration: line-through;
                        color: gray;
                    }

    #Trash-Section{
        display: flex;
        flex-direction: column;
        width: 40%;
    }


    